@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}
* {
    margin: 0;
    padding: 0;
    outline: 0 none!important;
}
 .form-item2 > div > div > div {
    margin: 0px auto 25px auto;
}
.form-item2{
text-align: center;
}
iframe{
    /*width:200px !important;*/
    width: 100%;
} 
html,body {
    /*height: 100%;*/
    /*min-width:980px;*/
}
body {
    /*padding-right:17px;*/
    /*overflow: hidden;*/
    overflow-x: hidden;
    color: #312d2d;
    font-family: 'Roboto';
    /* font-size: 12px; */
}
.wrapper {
    background: #fff;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 600px;
}
*html .wrapper {
    height: 100%;
}

/*HEADER TITLE STYLES*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "RobotoLight" !important;
}

h3 {
    line-height: 1.166667 !important
}
@media (max-width:991.98px) {
    h2 {
        font-size: 32px !important
    }
    h3 {
        font-size: 22px !important
    }
}
@media (max-width:767.98px) {
    h2 {
        font-size: 28px !important
    }
    h3 {
        font-size: 20px !important
    }
}
/*END HEADER TITLE STYLES*/



#test {
    position: fixed;
    top: 30px;
    right: 0;
    background: #fff;
    z-index: 999;
}
.conent_top {
    /* border-bottom: 1px solid #E8E8E8; */
    /* padding-bottom: 2px; */
    min-height: 47px;
}
/*@font-face {*/
    /*!*font-family: 'constantine';*!*/
    /*src: url('../fonts/constantine.ttf') format('truetype');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/
/*@font-face {*/
    /*!*font-family: 'fontinsans';*!*/
    /*src: url('../fonts/fontinsans.ttf') format('truetype');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/
/*@font-face {*/
    /*!*font-family: 'fontinsans';*!*/
    /*src: url('../fonts/FontinSans_Cyrillic_B.otf') format('truetype');*/
    /*font-weight: bold;*/
    /*font-style: normal;*/
/*}*/
/*@font-face {*/
    /*!*font-family: 'geometria';*!*/
    /*src: url('../fonts/geometria.otf') format('truetype');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/
/*@font-face {*/
    /*!*font-family: 'geometriab';*!*/
    /*src: url('../fonts/Geometria-Bold.otf') format('truetype');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/
/*@font-face {*/
    /*!*font-family: 'agora';*!*/
    /*src: url('../fonts/pfagorasanspro-reg.ttf') format('truetype');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/
/*@font-face {*/
    /*!*font-family: 'agora';*!*/
    /*src: url('../fonts/pfagorasanspro-bold.ttf') format('truetype');*/
    /*font-weight: bold;*/
    /*font-style: normal;*/
/*}*/
.clear {
    clear: both;
}
strong,b {
    /*!* font-family: 'geometriab'; *!*/
}
header {

}
aside {
    background: #634f43;
    height: 100%;
    /* min-height: 520px; */
    position: fixed;
    top: 0;
    left: 0;
    width: 302px;
    color: #bda594;
    text-align: center;
    z-index: 1;
    /* position: relative; */
    /* float: left; */
}
.aside-content {
    position: relative;
    height: 830px;
}
aside .logo {
    display: block;
    width: 149px;
    max-width: 149px;
    margin: 0px auto;
    padding: 7% 0;
    text-decoration: none;
    color: #bda594;
    font-size: 12px;
}
aside .logo span {
    
    margin-top: 18px;
    display: block;
}
aside .logo img {
    /* width: 100%; */
    /* height: auto; */
}
.middle {
    /* position: relative; */
    width: 100%;
    margin-top: 5%;
}
aside .h1, aside .h3 {
    color: #bda594;
    font-weight: normal;
}
aside .h3 {
    text-align: center;
    /*!*font-family: arial;*!*/
    font-size: 12px;
    line-height: 17px;
    text-transform: uppercase;
    margin: 0 66px;
    border-bottom: 1px solid #a69b94;
    padding: 39px 0;
    /*!*font-family: fontinsans;*!*/
}
aside .h1 {
    font-size: 22px;
    line-height: 29px;
    text-transform: uppercase;
    padding: 0;
    color: white;
    /*!*font-family: constantine;*!*/
}
aside .pt {
    margin: 0px auto;
    width: 64px;
    width: 21%;
    max-width: 64px;
    height: 37px;
}
aside .pt img {
    width: 100%;
    height: auto;
}
nav {
    color: #bda594;
    padding-top: 15%;
    position: relative;
}
.visible_subnav nav {
    position: relative;
}
.visible_subnav #product_subnav, .map .contacts_subnav {
    display: block;
}
ul.products.portfolio li * {
    transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;

}

nav ul li a {
    color: #bda594;
    text-decoration: none;
    font-size: 12px;
    /*!* font-family: fontinsans; *!*/
    /*!*font-family: geometria;*!*/
}
nav ul li {
    list-style: none;
    margin: 0 0 5px;
    padding: 0;
    position: relative;
}
nav ul li>a {
    position: relative;
    display: inline-block;
}
nav ul li.parent>a span {
    position: relative;
}
nav ul li i.arrow {
    content: "";
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: 12px solid white;
    border-bottom: 12px solid transparent;
    position: absolute;
    top: -3px;
    right: 0;
    display: none;
    z-index: 999;
}
nav ul li.parent>a>span>i {
    border: 0;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: -14px;
    display: inline-block;
    width: 4px;
    height: 7px;
    background: url(../img/bullet.png) no-repeat;
    display: none;
}
nav ul li .subnav, .callback_subnav {
    width: 302px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 302px;
    background: white;
    display: none;
    text-align: left;
    z-index: 1;
}
nav ul li ul {
    width: 302px;
    /* height: 100%; */
    background: white;
    position: absolute;
    top: -7px;
    left: 0px;
    text-align: left;
    padding-left: 50px;
    /*display: none;*/
}

nav ul li ul.map_item_list {
    width: auto;
    background: none;
    position: relative;
    top: auto;
    left: 0px;
    padding-left: 0px;
}

.visible_subnav nav ul li ul {
    padding-left: 48px;
    left: 0;
    top: auto;
    bottom: 0;
    height: auto;
}



nav ul li>a:hover, nav ul li.active>a {
    color: white;
}

/*
nav ul li.parent:hover>a:before,
nav ul li.active>a:before,
nav ul li.parent:hover .subnav,
nav ul li.parent:hover ul
{
        display: block;
}
nav ul li.parent:hover>a i, nav ul li.active>a i {
    display: inline-block;
}
*/


nav ul li.active i.arrow
{
    display: block;
}
.portfolio_single nav ul li.active i.arrow
{
    display: none;
}
.portfolio_single nav ul li.id4 i.arrow
{
    display: none!important;
}

nav ul li.parent>a:hover>span>i, nav ul li.active>a>span>i {
    /* display: inline-block; */
}

nav ul li ul li {
    margin: 0 0 15px;
}
nav ul li ul li a {
    text-transform: uppercase;
    color: #717171;
    /*!*font-family: constantine;*!*/
    letter-spacing: 0.18em;
}
nav ul li ul li.active a, nav ul li ul li a:hover {
    color: #bda594;
}
main {
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    left: 302px;
    min-height: 600px;
    /* overflow: auto; */
    /* max-height: 100%; */
    background: white;
    min-width: 470px;
    /* position: relative; */
    /* float: left; */
    /* width: 84%; */
}
.map main {
    overflow: hidden;
}
.visible_subnav main {
    left: 606px;
    min-width: 404px;
}
#main_bg {
    /*background: url(../img/main_bg.png) 50% 100% no-repeat;*/
    background-size: cover;
}
#main_bg img {
    position: absolute;
    /* width: auto; */
    /* height: 100%; */
    float: left;
    width: 100%;
    height: auto;
}



footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    /*font-family: "Roboto";*/
    letter-spacing: 0.06em;
    background-color: #634F43;
}
.phone {
    position: relative;
    left: 0;
    margin-bottom: 21px;
    width: 100%;
    font-size: 18px;
    /*!* font-family: constantine; *!*/
    font-size: 16px;
    /*font-family: geometria;*/
}
.phone a {
    color: #bda594;
    text-decoration: none;
}




.bottom {
   /*  border-top: 1px solid #564437; */
    
    padding: 20px 0;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 18px;
}



div.breadcrumbs {
    margin: 17px 0;
    /*!* font-family: geometria; *!*/
    font-size: 10px;
    color: #989898;
    /* border-bottom: 1px solid gray; */
}
ul.B_crumbBox {
    margin: 17px 28px;
    /*!* font-family: geometria; *!*/
    font-size: 10px;
    color: #989898;
    /* border-bottom: 1px solid gray; */
}
.sidebar_content div.breadcrumbs, .sidebar_content .B_crumbBox {
    margin: 15px 25px;
}
.top_nav div.breadcrumbs, .top_nav .B_crumbBox {
    margin: 0px 25px;
}
.conent_top div.breadcrumbs, .conent_top .B_crumbBox {
    display: inline-block;
    margin-right: -1px;
}


div.breadcrumbs a{
    color: #989898;
    
    font-size: 10px;
    text-decoration: underline;
    text-transform: none;
    margin: 0;
}
.top_nav .B_crumbBox a{
	color: #989898;
    
    font-size: 10px;
    text-decoration: underline;
    text-transform: none;
    margin: 0;
}
div.breadcrumbs a:hover, .B_crumbBox a:hover {
    text-decoration: none;
}
.breadcrumbs i, .B_crumbBox i {
    color: #d7d7d7;
    
    display: inline-block;
    margin: 0 2px;
}
.breadcrumbs span, .B_crumbBox span {
    color: #B49177;

}
.B_crumbBox li{
	display:inline;
	list-style:none;
}


.content {
    /* padding: 12px 0px; */
    
    /* border-top: 1px solid rgb(221, 221, 221); */
}
.sidebar_content {
    /* margin: 15px 16px; */
}
.sidebar_content h1 {
    margin: 24px 30px 16px 48px;
    color: black;
    /*font-family: constantine;*/
    font-size: 40px;
    font-weight: normal;
    line-height: 36px;
}
.sidebar_descrption {
    /*font-family: geometria;*/
    font-size: 10px;
    color: #989898;
    margin: 0px 48px;
    line-height: 14px;
}

.product_detail .content {
    padding: 0;
    height: 100%;
}

#pdopage {
    /* padding: 0 30px; */
    position: relative;
    overflow: hidden;
    width: 96%;
    margin: 5px auto 64px;
}
ul.products {
    list-style: none;
    margin: 0 auto;
    /* padding: 1px 0; */
    text-align: center;
    width: 100%!important;
    /* display: block; */
    position: relative;
}
ul.products.portfolio {
    /*width: 100%;
        margin: 0 0 0 -3px;*/
}
ul.products li {
    margin: 0 35px 32px 36px;
    padding: 0 0;
    float: left;
    text-align: left;
    /*width: 25%;*/
    width: 33%;
    margin: 0 0 15px;
    position: relative;
    height: 340px;
}

ul.products li:nth-child(4n) {
    /* clear:right; */
}
ul.products li:nth-child(4n+1) {
    /* clear:left; */
}
ul.products.portfolio li {
    /* width: 31.333333%; */
    /* width: 23%; */
    /* height: auto; */
    /* margin: 0 1% 3%; */
    /* overflow: hidden; */
    margin: 0 0% 40px;
    height: 210px;
}
ul.products li.loading:before {
    content: "";
    background: url(../img/ajax-loader.gif) center center no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

@media (max-width: 1870px) {

}


ul.products li>div {
    margin: 0 auto;
    width: 330px;
    
    /* max-width: 301px; */
    /* height: inherit; */
}
ul.products.portfolio li>div {
    /* width: 100%; */
    /* max-width:inherit; */
    /* height: 100%; */
    /* padding: 0 10px; */
    position: relative;
    height: 210px;
    width: 330px;
    /* overflow: hidden; */
}
ul.products li a {
    text-decoration: none;
    display: block;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* width: inherit; */
    /* height: inherit; */
}
ul.products.portfolio li img {
    /* display: block; */
    /* width: 100%; */
    /*max-width:inherit;*/
    /*height: 100%;
        width: auto;*/
    /* margin:0 auto; */
    /* width: 100%; */
    /* height:auto; */
    /* height: inherit; */
    /* width: 330px; */
    /* height: 210px; */
    /* height: 100%; */
}
ul.products li img {
    display: block;
    /* max-width: 100%; */
    /* height: auto; */
    /* width: 330px; */
    /* height: 210px; */
    width: 100%;
    height: auto;
    min-height: 100%;
}
ul.products li .product_title {
    padding: 12px 0 10px;
    display: table-cell;
    vertical-align: middle;
    height: 64px;
}
ul.products li .product_title {
    /*font-family: constantine;*/
    font-size: 18px;
    text-decoration: none;
    color: #312d2d;
    vertical-align: middle;
}




ul.products.portfolio li .product_title {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0px 22px;
    height: 37px;
    z-index: 2;
    /* width:100%; */
    text-align: right;
    position: relative;
    margin-top: -37px;
    display: block;
}
ul.products li .product_title:hover {
    text-decoration: underline;
    color: #989898;
}
ul.products.portfolio li .product_title:hover {
    text-decoration: none;
    color: #fff;
}
ul.products li .introtext {
    /*font-family: fontinsans;*/
    font-size: 13px;
    line-height: 16px;
    color: #989898;
    margin: 0px 0;
    display: block;
    height: 48px;
    text-align: justify;
}
ul.products li .introtext, ul.products li .introtext .inner, ul.products li .introtext .nano, ul.products li .introtext .nano-content {
    display: block;
}
ul.products li .introtext .nano-content span {
    display: table-cell;
    height: 85px;
    width: 200px;
    vertical-align: middle;
}
ul.products.portfolio li {
    cursor: pointer;
    /* background:#93867d; */
    /* min-height: 150px; */
}
ul.products.portfolio li .introtext {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    color: white;
    z-index: 1;
    /*display:none;*/
    opacity: 0;

}

ul.products.portfolio li .introtext .bg {
    background: #634f43;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
ul.products.portfolio li:hover .introtext {
    display: block;
    opacity: 1;
}
ul.products.portfolio li:hover .introtext .bg {
    opacity: .6;
}

ul.products.portfolio li .introtext .inner {
    position: absolute;
    height: 82px;
    top: 50%;
    margin-top: -44px;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    z-index: 1;
    
    text-align: center;
}




.top_nav {
    position: relative;
    height: 40px;
    padding: 7px 22px;
    position: absolute;
    z-index: 20;
    width: 100%;
}
.top_nav:before,.vertical.top_nav .left_nav:before {
    content: "";
    background: #392E27;
    position: absolute;
    height: 40px;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    opacity: .6;
}
.vertical.top_nav .left_nav:before {
    height: 100%;
}
.top_nav a, .vertical.top_nav .icon_menu_show {
    color: #bda594;
    /*font-family: fontinsans;*/
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 25px;
    line-height: 20px;
    padding: 5px 0;
    display: inline-block;
    position: relative;
    z-index: 1;
}
.top_nav a:hover, .top_nav a.active, .vertical.top_nav .icon_menu_show:hover, .vertical.top_nav .icon_menu_show.active {
    color: #fff;
}
.top_nav .left_nav {
    float: left;
}
.top_nav .icon_menu_show {
    display: none;
}

.vertical.top_nav .left_nav {
    display: none;
    float: none;
    position: absolute;
    top: 40px;
    left: 21px;
    /* width: 203px; */
    /* padding: 4px 20px 10px; */
    /* height: 0; */
    /* overflow: hidden; */
}
.vertical.top_nav .left_nav a {
    display: block;
    float: none;
    margin: 6px 23px 6px;
}
.vertical.top_nav .left_nav a:last-child {
    margin-bottom: 10px;
}
.vertical.top_nav .icon_menu_show {
    display: block;
    float: left;
    color: #bda594;
    font-style: normal;
    cursor: pointer;
    position: relative;
    z-index: 999;
    top: -1px;
}
.vertical.top_nav .icon_menu_show i {
    font-style: normal;
    position: relative;
    z-index: 999;
    top: 2px;
    font-size: 19px;
    line-height: 11px;
    /*font-weight: bold;*/
    margin-right: 2px;
}

.top_nav .right_nav {
    float: right;
    margin-right: 76px;
}
.portfolio_single .top_nav .right_nav {
    display: none;
}

.top_nav .right_nav a {
    /*font-family: geometria;*/
    font-size: 12px;
    padding: 5px 0 0;
    line-height: 14px;
    text-transform: none;
    background: url(../img/dashed.png) 5px 100% repeat-x;
}

.sharing {
    position: absolute;
    top: 10px;
    right: 12px;
}
.sharing>span {
    position: relative;
    width: 20px;
    height: 18px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}
.sharing>span:hover {
    opacity: 0.8
}
.sharing>span>span {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 20px;
    height: 18px;
}
.sharing>span>i {
    width: 20px;
    height: 18px;
    /* margin: 0 0 0 6px; */
    /* padding: 5px 0 0; */
    line-height: 14px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.sharing .fb {
    background: url(../img/fb_icon.png) 50% 50% no-repeat;
}
.sharing .vk {
    background: url(../img/vk_icon.png) 50% 50% no-repeat;
}
.sharing .goo {
    background: url(../img/goo_icon.png) 50% 50% no-repeat;
}



.product_container {
    position: relative;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    background: #392e27;
    ;
}
.product_container .carousel ul li {
    list-style: none;
    position: relative;
    /* background-color: #ccc; */
}
.product_container .mid {
    width: inherit;
    position: absolute;
    top: 0px;
    bottom: 77px;
    background-position: 50%;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* background-size: cover; */
    background: #392E27;
    overflow: hidden;
}
.product_container .mid:before {
    content: "";
    width: 1087px;
    height: 800px;
    background: url(../img/shadow_corner2.png) bottom right no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
}
.mid .backstretch {
    left: auto!important;
    right: 0!important;
}
.product_container .mid img {
    /* max-width:100%; */
    /* min-height: 100%; */
    /* margin-bottom: 77px; */
    height: 100%;
    /* width: 100%; */
    /* position: absolute; */
    /* top: 0; */
    margin: 0 auto;
    display: block;
}
.product_container .carousel {
    /*position: absolute!important;*/
    /*bottom: 0;*/
    width: 100%!important;
    background: #392e27;
}
.product_container .carousel_thumbs ul li img {
    /* width: 118px; */
    height: 77px;
    float: left;
    cursor: pointer;
}
.product_container .carousel ul li.active img {
    /* width: 118px; */
    height: 77px;
    border: 3px solid white;
    /* cursor: pointer; */
}

.product_container .carousel ul li .text {
    display: none
}

.slide_text {
    position: absolute;
    top: 50%;
    margin-top: -170px;
    right: 83px;
    color: white;
    width: 211px;
    height: 332px;
    overflow: hidden;
    z-index: 1;
}
.slide_text h1 {
    /*font-family: 'constantine';*/
    font-size: 22px;
    
    font-weight: normal;
    margin: 0 0 21px;
}
.slide_text .nano {
    height: 293px;
}
.slide_text p {
    /*font-family: "geometria";*/
    font-size: 10px;
    margin: 0px 0px 15px;
    line-height: 16px;
    text-align: center;
}

/** initial setup **/
.nano {
    position : relative;
    width : 100%;
    height : 100%;
    overflow : hidden;
}
.scrolling-content > .nano {
    border-top: 1px solid #fff;
}
.nano > .nano-content {
    position : absolute;
    overflow : scroll;
    overflow-x : hidden;
    top: 0;
    right : 0;
    bottom : 0;
    left : 0;
}
.nano > .nano-content:focus {
    outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
    display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
    display: block;
}
.nano > .nano-pane {
    background : rgba(99, 79, 67,.25);
    position : absolute;
    width : 5px;
    right : 0;
    top : 0;
    bottom : 0;
    visibility : hidden\9;
    /* Target only IE7 and IE8 with this hack */
    opacity : .01;
    -webkit-transition : .2s;
    -moz-transition : .2s;
    -o-transition : .2s;
    transition : .2s;
    -moz-border-radius : 5px;
    -webkit-border-radius : 5px;
    border-radius : 5px;
    display: none;
}
ul.products.portfolio li .nano > .nano-pane, .slide_text .nano > .nano-pane {
    display: none !important;
}
.nano > .nano-pane > .nano-slider {
    background: #444;
    background: rgba(99, 79, 67,.3);
    position : relative;
    margin : 0 1px;
    -moz-border-radius : 3px;
    -webkit-border-radius : 3px;
    border-radius : 3px;
}
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
    visibility : visible\9;
    /* Target only IE7 and IE8 with this hack */
    opacity : 0.99;
}
aside .nano > .nano-pane {
    background: rgba(99, 79, 67,.25);
}
aside .nano > .nano-pane > .nano-slider {
    background: rgba(189, 167, 154,.8);
}
.next {
    cursor: pointer;
}
.product_container a.prev,
.product_container a.next {
    position: absolute;
    z-index: 4;
    bottom: 0;
    width: 35px;
    height: 77px;
    text-indent: -9999em;
}
.product_container a.prev {
    left: 0;
    background: url('../img/arrows.png') 0px 100% no-repeat;
}
.product_container a.next {
    right: 0;
    background: url('../img/arrows.png') 0px 0px no-repeat;
}

.tech_mat_win {
    background: #392e27;
    position: absolute;
    top: -115%;
    right: 0px;
    width: 100%;
    bottom: 100%;
    z-index: 10;
    /* height: 100%; */
}
.tech_mat_win#technology ul {
    padding-top: 2%
}
.tech_mat_win .close, .subnav .close {
    width: 21px;
    height: 21px;
    background: url(../img/icon_close.png) 0px 0px no-repeat;
    background-size: cover;
    position: absolute;
    top: 3px;
    right: 9px;
    cursor: pointer;
    z-index: 23;
}
.subnav .close {
    width: 15px;
    height: 14px;
    background-image: url(../img/icon_close.png);
    background-size: cover;
    top: 10px;
    right: 11px;
}
.tech_mat_win ul li {
    list-style: none;
    float: left;
    width: 33.3333%;
    /* height:50%; */
    position: relative;
    overflow: hidden;
    /* min-height: 340px; */
    /* height: 300px; */
}
.tech_mat_win#technology ul li {
    padding: 0 4.3% 3.3%;
}
.tech_mat_win#materials ul li:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
    display: none;
    z-index: 0;
}
.tech_mat_win#materials ul li:hover:before {
    display: block;
}
.tech_mat_win#materials ul li {
    height: 50%;
}
.tech_mat_win#materials ul li img {
    width: 100%;
    height: 100%;
}
.tech_mat_win#technology ul li img {
    margin: 0 auto 6.4%;
    display: block;
}
.tech_mat_win ul li .title {
    font-size: 18px;
    
    line-height: 22px;
    text-transform: uppercase;
    padding: 0;
    color: #bda594;
    /*font-family: constantine;*/
    margin: 0 0 4.3%;
}
.tech_mat_win ul li .text {
    overflow: hidden;
    color: #bda594;
    /*font-family: geometria;*/
    font-size: 12px;
    line-height: 16px;
    height: 159px;
}
.tech_mat_win#materials ul li .title, .tech_mat_win#materials ul li .text {
    color: #fff;
}
.tech_mat_win#materials ul li .text_wrap {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100px;
    overflow: hidden;
    padding: 0 10%;
}
.tech_mat_win#materials ul li .text {
    height: 50px;
}

.tags {
    text-align: center;
    margin: 0 0 0;
    /* border-bottom: 1px solid #E8E8E8; */
    /* padding-bottom: 15px; */
    padding-top: 5px;
}
.tags.about_menu {
    text-align: right;
    width: 400px;
    position: absolute;
    right: 20px;
    top: 5px;
}
.tags.tag_list {
    text-align: right;
    width: 350px;
    position: absolute;
    right: 20px;
    top: 7px;
    /* overflow: hidden; */
}
.tag_list.thin {
    right: 245px;
    top: 8px;
}

.tag_list .filterbtn {
    cursor: pointer;
    display: none;
    position: relative;
    z-index: 100;
}
.tag_list.thin .filterbtn {
    display: block;
}
.tag_list .filterbtn i {
    font-style: normal;
    font-size: 12px;
    color: #B49177
}
.tag_list.thin .list {
    width: 150px;
    position: absolute;
    z-index: 99;
    background: #FBF7F5;
    text-align: left;
    top: -2px;
    right: -14px;
    padding: 30px 15px 10px 15px;
    display: none;
}
.tag_list.thin .list a {
    margin: 0;
}
.tag_list.thin .list a:after {
    display: block;
    content: "";
    margin: 10px;
    clear: both;
}

.tags a, #anchors a {
    /*!* font-family: geometria; *!*/
    font-size: 12px;
    color: #B49177;
    /* display: block; */
    margin: -3px 6px;
    position: relative;
    text-decoration: none;
    border-bottom: 1px dashed #bda594;
}
.tags a:hover, #anchors a:hover {
    border-bottom: 1px dashed transparent;
}
.tags.about_menu a {
    margin-left: 16px;
}
.tags a.active, #anchors a.active, #anchors .active a {
    border: 0;
    color: #989898;
}


/** carousels **/
.connected-carousels .carousel_big {
    width: 100%;
    /* height: 100%; */
    margin: 0;
    position: relative;
    bottom: 77px;
    top: 0;
}
.connected-carousels .carousel {
    overflow: hidden;
    position: relative;
}
.connected-carousels .carousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}
.connected-carousels .carousel li {
    float: left;

}
.connected-carousels .carousel-stage {
    height: 100%;
}


/** text_page **/
.text_page .content .nano-content-inner {
    margin: 40px 30% 40px 29.2%;
    width: 600px;
    margin: 40px auto;
    /* max-width: 1000px; */
}
.text_page .content {
    /* padding:5px; */
}
.text_page .content, .text_page .content p {

}
.text_page .content p {
    color: #312d2d;
    /*font-family: fontinsans;*/
    font-size: 14px;
    text-align: justify;
    line-height: 18px;
    letter-spacing: 0.6px;
}

.text_page .content strong,b {
    /*!* font-family: 'geometriab'; *!*/
}
.text_page .content td {
    color: #312d2d;
    text-align: justify;
    /* padding: 0 10px; */
    font-size: 14px;
    /*font-family: fontinsans;*/
}
.text_page .content #clienti td {
    color: #3a3a3a;
    text-align: justify;
    padding: 0 5px;
    font-size: 14px;
}
.text_page .content img {
    display: block;
    margin: 0 auto;
}
.text_page .content p {
    margin-bottom: 20px;
}
.text_page .content p.justifyfull {
    text-align: justify
}
.text_page .content h1, .text_page .content h2, .text_page .content .h2, .text_page .content h3, .text_page .content .h3, .text_page .content h4, .text_page .content .h4, .text_page .content h5, .text_page .content h6 {
    padding: 0;
    /*font-family: constantine;*/
    font-weight: normal;
    line-height: 18px;
    letter-spacing: 0.7px;
}
.text_page .content h1 {
    font-size: 30px;
    color: #312d2d;
    line-height: 30px;
    /* letter-spacing: -0.05em; */
}
.text_page .content h2, .text_page .content .h2 {
    font-size: 20px;
    color: #312d2d;
    padding: 0px 0 20px;
    letter-spacing: 0.7px!important;
    line-height: 26px;
}
.text_page .content h3,.text_page .content .h3, .text_page .content h4, .text_page .content .h4, .text_page .content h5, .text_page .content h6 {
    /* font-size: 12px; */
    /* color: #312d2d; */
    /* padding: 1px 0 13px; */
    /* text-transform: uppercase; */
    /* letter-spacing: 0.18em; */
    /* line-height: 18px; */
    font-size: 20px;
    color: #312d2d;
    padding: 0px 0 20px;
    letter-spacing: 0.7px!important;
    line-height: 26px;
    text-align: left;
}
.text_page .content h3 {
    /*!* font-family: fontinsans; *!*/
    /* font-size: 14px; */
}
.text_page .content h4, .text_page .content .h4 {
    font-size: 16px;
}

h1.mainstyle {
	display: block;
    position: relative;
	margin: .55em 0 .55em;
    padding: 0 0 20px 0;
    font-size: 41px;
	line-height: 52px;
    font-weight: 400;
    text-transform: initial;
	text-align: center;
}
h1.mainstyle.white {
	color: #fff;
}
h1.mainstyle:not(.white) {
	color: #312d2d;
}
h1.mainstyle:not(.white)::before {
    content: ' ';
    background: url(/upload/content/o-nas-new/title_before.png) center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    width: 96px;
    height: 23px;
    display: block;
    margin: 0 auto 20px;
}

h2.mainstyle {
	padding: 0 0 30px;
	font-size: 30px;
    text-align: center
}

h2.mainstyle:before {
    content: '';
    background: url(/upload/content/o-nas-new/title_before.png) center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    width: 96px;
    height: 23px;
    display: block;
    margin: 0 auto 20px
}
h3 {
	font-size: 23px;
}

.text_page section.content img.preview_img_content {
    max-width: 100%;
    margin: 27px auto 20px;
}
.text_page section.content.parent5 img.preview_img_content {
    width: 100%;
    height:auto
}

.text_page .content ul, .text_page .content ol {
    padding: 0 0 18px 0px;

}
.text_page .content ul {
    list-style: none;
}
.text_page .content li {
    /*!* font-family:geometriab; *!*/
    padding: 0 0 0 0;
    margin: 0 0 0 0px;
    position: relative;
}
.text_page .content ul li:before {
    display: inline-block;
    width: 0px;
    height: 0px;
    border: 2px solid;
    border-radius: 50%;
    position: relative;
    top: -2px;
    margin-right: 5px;
}

.text_page .content img.float_left {
    margin: 2px 26px 20px 0;
}
.text_page .content img.float_none {
    margin: 0;
/*	display: inline;*/
}
.text_page .content img.float_right {
    margin: 2px 0px 20px 26px;
}
.text_page .zi-hr img {
    margin: 20px auto 20px!important;
}
.search {
    width: 20px;
    /* float: left; */
    position: relative;
    display: inline-block;
    top: 7px;
    left: 10px;
    overflow: hidden;
    height: 21px;
    
    width: 175px;
}
.sisea-search-form {
    width: 0px;
    overflow: hidden;
    float: left;
}
.sisea-search-form fieldset {
    border: 0;
    /* width: 175px; */
    min-width: 42px;
}
.sisea-search-form label {
    /* display: none; */
    
    position: absolute;
    top: 1px;
    left: 9px;
    /*font-family: geometria;*/
    font-size: 10px;
    color: #989898;
    height: 20px;
    line-height: 20px;
}
.sisea-search-form input[type="text"] {
    border: 1px solid #DCCFC6;
    
    padding: 3px 8px;
    height: 20px;
    /*font-family: geometria;*/
    font-size: 10px;
    color: #989898;
    border-radius: 3px;
    position: relative;
    
    width: 0px;
    float: left;
}
.sisea-search-form input[type="submit"], .search_open {
    text-indent: 100%;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 0;
    background: url('../img/search_icon.png?v=2') 50% no-repeat;
    position: relative;
    top: -1px;
    left: 4px;
    cursor: pointer;
    float: left;
}
.sisea-search-form input[type="submit"]:active {
    top: 0px;
}
.search_open {
    /* position:absolute; */
    top: 1px;
    right: 0px;
    float: left;
}

.sisea-results, .sisea-paging {
    display: none;
}

.map_menu_form {
    margin-top: 40%;
    position: relative;
    z-index: 0;
    height: 710px;
}

.map_menu {
    /* background:white; */
    position: relative;
    left: 0px;
    /* width: 273px; */
    /* height:330px; */
    /*padding: 10px;*/
    /*z-index: 9999;*/
    box-sizing: border-box;
    /*padding: 20px 55px;*/
    /*padding: 0px 45px 0 55px;*/
}
.map_menu:before {
    /* content: ""; */
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-left: 12px solid white;
    border-bottom: 12px solid transparent;
    position: absolute;
    top: 50%;
    right: -12px;
    margin-top: -6px;
}

.map_menu .title {
    /*font-family: constantine;*/
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: black;
}
.visible_subnav nav ul li .map_menu ul {
    list-style: none;
    padding: 23px 0px 0 0px;
    margin-top: -23px;
    position: relative;
    width: auto;
    min-width: 166px;
}
.map_menu ul li {
    /*!* font-family: geometria; *!*/
    font-size: 16px;
    color: #989898;
    line-height: 15px;
    margin-bottom: 26px;
    list-style-type: none;
}
.map_menu ul li a {
    /*font-family: fontinsans;*/
    font-size: 14px;
    text-transform: uppercase;
    color: #989898;
    padding: 4px 0px 3px;
    margin-bottom: 10px;
    display: inline-block;
    line-height: 15px;
    letter-spacing: 0;
    text-decoration: underline;
}
.map_menu ul li a.active {
    background: #bda694;
    text-transform: uppercase;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    padding: 4px 7px 3px;
}
.map_menu ul li span {

}
.map_menu ul li span a {

}

.FormItAjaxForm {
    position: absolute;
    top: 311px;
    left: 0;
    /*padding: 0 51px 0 55px;*/
    width: 100%;
}
#ContactForm {
    top: auto;
    /*margin-top: 50px;*/
    position: relative;
}
.FormItAjaxForm p {
    color: #989898;
    font-size: 12px;
    /*!* font-family: geometria; *!*/
    margin-bottom: 26px;
}
.FormItAjaxForm p.error {
    color: red;
    display: none;
}
.FormItAjaxForm p.success {
    color: green;
    margin-bottom: 12px;
    margin-top: 15px;
}
.FormItAjaxForm p.success small {
    color: gray;
    font-size: 12px;
}
.FormItAjaxForm .input {
    position: relative;
}
.FormItAjaxForm .input.error input, .FormItAjaxForm .input.error textarea {
    border: 1px solid red;
}

.error ::-webkit-input-placeholder {
    color: red;
}
.error ::-moz-placeholder {
    color: red;
}
.error :-moz-placeholder {
    color: red;
}
.error :-ms-input-placeholder {
    color: red;
}
.FormItAjaxForm table {
    /* margin-left: -2px;*/
    width: 100%;
}
.FormItAjaxForm table td {

}
.FormItAjaxForm .inputlabel {
    display: none;
}
.FormItAjaxForm .form-control {
    width: 100%;
    border: 0;
    background-color: #e3e3e3;
    height: 36px;
    padding: 0 10px;
    line-height: 40px;
    margin-bottom: 14px;
    color: #989898;
    /*font-family: fontinsans;*/
    font-size: 12px;
    text-transform: uppercase;
}
.FormItAjaxForm textarea.form-control {
    height: 75px;
    line-height: 17px;
    resize: none;
    padding: 10px 10px;
}
.FormItAjaxForm .btn {
    width: 100%;
    height: 36px;
    margin-top: 0px;
    border: 0;
    background-color: #634f42;
    color: white;
    /*font-family: fontinsans;*/
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    background-image: url('../img/load.gif');
    background-repeat: no-repeat;
    background-position: -60px 2px;
    padding: initial;
}
.product_container .loading, .wrapper>.loading {
    background-color: #634f42;
    background-image: url('../img/load.gif');
    background-repeat: no-repeat;
    background-position: 50%;
    width: 100%;
    height: 100%;
}
.FormItAjaxForm .btn.loading {
    background-position: 0px 2px;
}

.visible_subnav ul.products li>div {
    width: 88%;
}


.text_page .content .neighbors {
    border-top: 1px solid #cdcdcd;
    list-style: none;
    margin-top: 36px;
    padding-top: 36px;
}
.text_page .content .neighbors li {
    height: 160px;
    
    /*!* font-family: geometria; *!*/
    color: #989898;
    /* font-size: 12px; */
}
.neighbors li:before {
    display: none!important;
}
.neighbors li a {
    text-decoration: none;
    font-weight: normal;
}
.neighbors li .img_nail {
    float: left;
    height: 102px;
    margin-bottom: 20px;
    margin-right: 25px;
}
.neighbors li .introtext {
    float: left;
    width: 410px;
    /* height: 69px; */
    /* margin-top: 23px; */
    /* margin-bottom:20px; */
    color: #989898;
    font-weight: normal;
    margin-top: -3px;
    /*!* font-family: fontinsans; *!      */
    /* font-size: 14px; */      
    /* text-align: justify; */      
    /* line-height: 18px; */      
    /* letter-spacing: 0.6px; */
}
.neighbors li .product_title {
    color: #312d2d;
    text-decoration: none;
    font-weight: normal;
    display: block;
    /*font-family: constantine;*/
    font-size: 18px;
    margin-bottom: 20px;
    padding-top: 0px;
}
@media only screen and (max-width: 1710px) {
    ul.products li {
        width: 33.3333%;
    }
}

@media only screen and (max-width: 1620px) {
    ul.products {
        /* width:100%; */
    }
    
    ul.products li:nth-child(4n), ul.products li:nth-child(4n+1) {
        clear: none;
    }
    ul.products li:nth-child(3n) {
        /* clear:right; */
    }
    ul.products li:nth-child(3n+1) {
        /* clear:left; */
    }
}
@media only screen and (max-width: 1300px) {
    #pdopage {
        /* padding: 0 19px; */
    }
    ul.products li img {
        /* width: 290px!important; */
        /* height: 185px!important; */
    }
    ul.products li {
        /* width: 290px; */
        /* margin: 0 1.75% 35px!important; */
    }
    ul.products li>div {
        width: 290px;
    }
    ul.products.portfolio li {
        height: 185px;
    }
    ul.products.portfolio li>div {
        height: 185px;
        width: 290px;
    }
    ul.products.portfolio li .product_title {
        font-size: 16px;
        height: 35px!important
    }
    .text_page .content .nano-content-inner {
        max-width: 800px;
    }
}
@media only screen and (max-width: 1200px) {
    ul.products li img {
        /* width: 330px!important; */
        /* height: 210px!important; */
    }
    ul.products li {
    
    }
    ul.products li>div {
        width: 330px;
    }
    ul.products.portfolio li .product_title {
        font-size: 18px;
        height: 35px!important
    }
    ul.products li {
        width: 48%;
    }
    ul.products.portfolio li {
        height: 210px;
    }
    ul.products.portfolio li>div {
        height: 210px;
    }
    .text_page .content .nano-content-inner {
        max-width: 700px;
    }
}
@media only screen and (max-width: 1100px) {
    .text_page section.content .nano-content-inner {
        /* margin: 10px 15%; */
    }
    ul.products li img {
        /* width: 260px!important; */
        /* height: 165px!important; */
    }

}
@media only screen and (max-width: 1000px) {
    .parent.id3 .subnav,.parent.id3 .arrow {
        display:none!important
    }
    .text_page .content .nano-content-inner {
        max-width: 600px;
    }
}
@media only screen and (max-width: 900px) {
    ul.products li {
        width: 50%;
    }
    ul.products li:nth-child(3n), ul.products li:nth-child(3n+1), ul.products li:nth-child(4n), ul.products li:nth-child(4n+1) {
        clear: none;
    }
    ul.products li:nth-child(2n) {
        clear: right;
    }
    ul.products li:nth-child(2n+1) {
        clear: left;
    }
    .text_page section.content .nano-content-inner {
        /* margin: 0px 10%; */
        
        /* width: 94%; */
        margin: 0 auto;
    }
    .text_page section.content img.float_left, .text_page section.content img.float_right {
    
    }



}
@media only screen and (max-width: 650px) {
    ul.products li {
        width: 94%;
        clear: both;
    }
    .text_page section.content img.float_left, .text_page section.content img.float_right {
        margin: 2px 0px 10px 0px;
        float: none!important;
    }
    ul.products.portfolio li .introtext .inner {
        height: 72px;
        margin-top: -36px;
    }
}

@media only screen and (max-width: 1600px) {
}
@media only screen and (max-width: 1400px) {
    .tech_mat_win ul li .text {
        font-size: 10px;
        line-height: 14px;
        height: 155px;
    }
    .tech_mat_win#materials ul li .text {
        height: 54px;
    }
    .tech_mat_win#technology ul li img {
        width: 95%;
    }
    .tech_mat_win .close {
        width: 18px;
        height: 17px;
        right: 3px
    }
}
@media only screen and (max-width: 1100px) {
    ul.products li {
        width: 48%;
    }
    ul.products {
    
    }
}
@media only screen and (max-width: 1000px) {
    ul.products li {
        width: 100%;
    }
}
@media only screen and (max-width: 950px) {

}
@media only screen and (max-width: 750px) {

}

#yandexMap>ymaps {
    background: none!important;
}

.search-map-result-view {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    top: -13.5px;
    left: -13.5px;
    height: 27px;
}
.search-map-result-view._active {
    top: -42px;
}
.search-map-result-view__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    cursor: pointer;
}
.search-map-result-view__icon {
    background: url("//yastatic.net/maps-beta/_/QGuTq1D4vadJPJijE7xfGoI0UBY.svg");
    width: 27px;
    height: 27px;
}
.search-map-result-view__icon {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    z-index: 2;
}
.search-map-result-view._active .search-map-result-view__icon {
    background: url("//yastatic.net/maps-beta/_/ZDo_aSO8szfWh3gPYVWHwgyDa_E.svg");
    width: 34px;
    height: 42px;
}
.search-map-result-view__title {
    height: 27px;
    line-height: 27px;
}
.search-map-result-view__title {
    background: rgba(255,255,255,.89);
    display: inline-block;
    vertical-align: top;
    z-index: 1;
    padding: 0 5px 0 19px;
    margin-left: -14px;
    border-radius: 5px;
    border: 1px solid #ddd;
    max-width: none;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
}
.search-map-result-view._active .search-map-result-view__title:not(:empty) {
    display: inline-block;
    margin-left: -21px;
}
.pagedescription {
    margin-top: 30px;
    padding-bottom: 30px;
    /*font-family: fontinsans;      font-size: 14px;      text-align: justify;      line-height: 18px;      letter-spacing: 0.6px;*/
}
.pagedescription img {
    max-width: 100%;
    /*height: 75px;*/
    margin: 10px;
}
.parent5 .pagedescription img {
    width: 100%;
}

.nailthumb-container {
    width: auto;
    height: auto;
    /* margin: 0 0 11px; */
    padding: 0px;
    overflow: hidden;
    position: relative;
    text-align: left;
    display: inline-block;
}
.nailthumb-container img.nailthumb-image {
    margin: 0px;
    padding: 0px;
    max-width: none;
    text-align: left;
    float: left;
}
.nailthumb-container span.nailthumb-title {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: White;
    display: block;
    font-size: 9px;
    height: 20px;
    left: 0;
    margin-top: 2px;
    line-height: 20px;
    position: relative;
    text-align: center;
    width: 100%;
    overflow: hidden;
    float: left;
}
.nailthumb-container span.nailthumb-title .nailthumb-title-scroller {
    padding-left: 2px;
}
.nailthumb-container img {
    max-width: none;
    text-align: left;
}

.product_image {
    display: block;
    margin: 0 auto;
    height: 210px;
    overflow: hidden;
}

#anchors {
    position: fixed;
    top: 0;
    right: 0;
    padding: 13px 20px;
    background-color: #fff;
}

.callback:not(.o-nas) {
    border: 1px solid;
    margin: 0px 0 30px;
    padding: 4px 11px 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    border-radius: 2px;
    /* letter-spacing: 0.08em; */
}
.callback:not(.o-nas):hover {
    color: white;
}




/*
ul#main_slider,ul#main_slider li {
    list-style:none;
    margin:0;
    padding:0;
    position:absolute;
    width:100%;
    height:100%;

	position: absolute;
	top:0;
	left:0;
	transform-origin:center;
	display: block;
	width:100%;
	zoom: 1;

}

ul#main_slider li img {
	display:none;
}
*/
/*
ul#main_slider li {
    transition: 5s linear;
    display:none;
}
ul#main_slider li:first-child {
    display:block;
}
ul#main_slider li.tl {
    top:0;
    left:0;
}
ul#main_slider li.tr {
    top:0;
    right:0;
}
ul#main_slider li.bl {
    bottom:0;
    left:0;
}
ul#main_slider li.br {
    bottom:0;
    right:0;
}
*/

#main_slider div div {
    background-size:cover;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;

}

.overlay{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0, 0, 0, 0.3);
    display:none;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 999999;
}

.smoothslides, .smoothslides-on {
    position: absolute;
    font-size: 0;
    line-height: 0;
    min-height: 100%;
    border-radius: 0;
    width: 100%;
    height: 100%;
    background: #634F43 url(../img/load.gif) center center no-repeat;
    /* background-size: 35px; */
}

/* Hide images until loaded */
.smoothslides li div {
    display: none;
}

/* Loading animation keyframes */
@keyframes throb {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(.2);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
@-webkit-keyframes throb {
    0% {
        opacity: 0;
        -webkittransform: scale(1);
    }
    50% {
        opacity: 1;
        -webkittransform: scale(.2);
    }
    100% {
        opacity: 0;
        -webkittransform: scale(1);
    }
}
/* Loading animation */
.smoothslides:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    left: 50%;
    top: 50%;
    margin-left: -4px;
    margin-top: -4px;
    border-radius: 15px;
    animation: throb 1s infinite;
    -webkit-animation: throb 1s infinite;
}

/* wrapper around all slides */
.ss-slide-stage {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: none;
}

/* wrapper around each slide */
.ss-slide {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center;
    display: block;
    width: 100%;
    height: 100%;
    zoom: 1;
}
.ss-slide img {
    height: auto;
    /* max-width, or width gets set via JS */
}

#clienti{
    margin: 50px 0 0 -28px;
    /* max-width: 650px; */
    width: 665px;
}
#sitemap {
    margin: 50px;
}
#sitemap ul{
    margin: 10px 0 20px 24px;
}
#sitemap ul li{
    margin:0 0 10px 10px;
    color:#999;
}
#sitemap ul li a{
    color:#999;
}


.pagination{
text-align:center;
}
.pagination ul li {
    display:inline;
    margin: 0 5px;
}
.pagination ul li a{
    color:#999;
}
.pagination ul li.active a{
    color:#000;
    text-decoration:none;
}



.line{
background: url(../img/line.png) no-repeat center center;
height: 30px;
}

.be_happy{
text-align: center;
font-size: 20px;
line-height: 26px;
text-transform: uppercase;
/*font-family: constantine;!*/
/*font-weight: bold;*/
}

.text_page .content .quote{
text-align: center;
font-size: 18px;
line-height: 26px;
text-transform: uppercase;
/*font-family: constantine;!**/
/*font-weight: bold;*!*/
color:#b5a493;
}
.text_page .content .quote:before{
	content: '';
background: url(../img/q1.png) no-repeat center center;
width: 100%;
height: 50px;
display: inline-block;
}
.text_page .content .quote:after{
	content: '';
background: url(../img/q2.png) no-repeat center center;
width: 100%;
height: 50px;
display: inline-block;
}

.galleriffic {
position: relative;
margin: 0 0 -50px 0;
display: inline-block;
}

.formSoot{
padding: 40px 0;
margin:  0 0 30px 0;
border: 1px solid #E8E8E8;
border-width: 1px 0;
}
.name-project a, .name-project a:hover, .name-project a:focus{    color: #C7A795; text-decoration:none;}
aside.show-content .phone {
  display: none;
}
aside .logo img{
   max-width: 100px;
}
#bx_form_iframe_2{
	width: 100% !important;
}
.bx-imopenlines-config-sidebar-iframe-container iframe {
    width: 100%!important;
}