/*.owl-carousel,
.owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative
}

.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0)
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0)
}

.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: none
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
    display: block
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block
}

.owl-carousel.owl-hidden {
    opacity: 0
}

.owl-carousel.owl-refresh .owl-item {
    visibility: hidden
}

.owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel.owl-grab {
    cursor: move;
    cursor: grab
}

.owl-carousel.owl-rtl {
    direction: rtl
}

.owl-carousel.owl-rtl .owl-item {
    float: right
}

.owl-carousel .animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.owl-carousel .owl-animated-in {
    z-index: 0
}

.owl-carousel .owl-animated-out {
    z-index: 1
}

.owl-carousel .fadeOut {
    animation-name: fadeOut
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.owl-height {
    transition: height .5s ease-in-out
}

.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity .4s ease
}

.owl-carousel .owl-item .owl-lazy:not([src]),
.owl-carousel .owl-item .owl-lazy[src^=""] {
    max-height: 0
}

.owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d
}

.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000
}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url(../libs/OwlCarousel2-2.3.4/dist/assets/owl.video.play.png) no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: transform .1s ease
}

.owl-carousel .owl-video-play-icon:hover {
    -ms-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3)
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
    display: none
}

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity .4s ease
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%
}*/

.scroll_tabs_container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    text-align: left;
    height: 24px;
    margin-bottom: 10px
}

ul.scroll_tabs_container {
    list-style: none
}

.scroll_tabs_container div.scroll_tab_inner li,
.scroll_tabs_container div.scroll_tab_inner span {
    cursor: pointer
}

.scroll_tabs_container div.scroll_tab_inner li {
    display: -moz-inline-stack;
    display: inline-block;
    list-style-type: none
}

.scroll_tabs_container div.scroll_tab_inner span.scroll_tab_left_finisher {
    padding: 0;
    width: 0
}

.scroll_tabs_container div.scroll_tab_inner span.scroll_tab_right_finisher {
    padding: 0;
    width: 0
}

.scroll_tabs_container .scroll_tab_left_button {
    height: 40px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.scroll_tabs_container .scroll_tab_left_button::before {
    content: "‹";
    line-height: 40px;
    padding-left: 5px
}

.scroll_tabs_container .scroll_tab_right_button {
    height: 40px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.scroll_tabs_container .scroll_tab_right_button::before {
    content: "›";
    line-height: 40px;
    padding-left: 5px
}

.scroll_tabs_theme_light {
    height: 42px
}

.scroll_tabs_theme_light div.scroll_tab_inner {
    height: 42px
}

.scroll_tabs_theme_light div.scroll_tab_inner li,
.scroll_tabs_theme_light div.scroll_tab_inner span {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 40px;
    border-left: 1px solid #999;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    color: #333;
    cursor: pointer
}

.scroll_tabs_theme_light div.scroll_tab_inner li.scroll_tab_first,
.scroll_tabs_theme_light div.scroll_tab_inner span.scroll_tab_first {
    border-left: 0
}

.scroll_tabs_theme_light div.scroll_tab_inner span.scroll_tab_left_finisher {
    padding: 0;
    width: 10px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px
}

.scroll_tabs_theme_light div.scroll_tab_inner span.scroll_tab_right_finisher {
    padding: 0;
    width: 10px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 0;
    border-right: 1px solid #999
}

.scroll_tabs_theme_light div.scroll_tab_inner li.scroll_tab_over,
.scroll_tabs_theme_light div.scroll_tab_inner span.scroll_tab_over {
    background-color: #999
}

.scroll_tabs_theme_light .scroll_tab_left_button {
    height: 42px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #999;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.scroll_tabs_theme_light .scroll_tab_left_button::before {
    content: "\25C0";
    line-height: 40px;
    padding-left: 5px
}

.scroll_tabs_theme_light .scroll_tab_left_button_over {
    background-color: #999
}

.scroll_tabs_theme_light .scroll_tab_left_button_disabled {
    color: #aaa
}

.scroll_tabs_theme_light .scroll_tab_right_button {
    height: 42px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #999;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.scroll_tabs_theme_light .scroll_tab_right_button::before {
    content: "\25B6";
    line-height: 40px;
    padding-left: 5px
}

.scroll_tabs_theme_light .scroll_tab_right_button_over {
    background-color: #999
}

.scroll_tabs_theme_light .scroll_tab_right_button_disabled {
    color: #aaa
}

.scroll_tabs_theme_light div.scroll_tab_inner li.tab_selected,
.scroll_tabs_theme_light div.scroll_tab_inner span.tab_selected {
    background-color: #aaa
}

.scroll_tabs_theme_dark {
    height: 42px
}

.scroll_tabs_theme_dark div.scroll_tab_inner {
    height: 42px
}

.scroll_tabs_theme_dark div.scroll_tab_inner li,
.scroll_tabs_theme_dark div.scroll_tab_inner span {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 40px;
    font-size: 14px;
    background-color: #333;
    border-left: 1px solid #222;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    color: #fff;
    cursor: pointer
}

.scroll_tabs_theme_dark div.scroll_tab_inner li.scroll_tab_first,
.scroll_tabs_theme_dark div.scroll_tab_inner span.scroll_tab_first {
    border-left: 0
}

.scroll_tabs_theme_dark div.scroll_tab_inner span.scroll_tab_left_finisher {
    padding: 0;
    width: 10px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px
}

.scroll_tabs_theme_dark div.scroll_tab_inner span.scroll_tab_right_finisher {
    padding: 0;
    width: 10px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 0;
    border-right: 1px solid #222
}

.scroll_tabs_theme_dark div.scroll_tab_inner li.scroll_tab_over,
.scroll_tabs_theme_dark div.scroll_tab_inner span.scroll_tab_over {
    background-color: #555
}

.scroll_tabs_theme_dark .scroll_tab_left_button {
    height: 42px;
    background-color: #333;
    color: #fff;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #222;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.scroll_tabs_theme_dark .scroll_tab_left_button::before {
    content: "\25C0";
    line-height: 40px;
    padding-left: 5px
}

.scroll_tabs_theme_dark .scroll_tab_left_button_over {
    background-color: #666
}

.scroll_tabs_theme_dark .scroll_tab_left_button_disabled {
    color: #444;
    background-color: #333
}

.scroll_tabs_theme_dark .scroll_tab_right_button {
    height: 42px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #333;
    border: 1px solid #222;
    color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.scroll_tabs_theme_dark .scroll_tab_right_button::before {
    content: "\25B6";
    line-height: 40px;
    padding-left: 5px
}

.scroll_tabs_theme_dark .scroll_tab_right_button_over {
    background-color: #666
}

.scroll_tabs_theme_dark .scroll_tab_right_button_disabled {
    color: #444;
    background-color: #333
}

.scroll_tabs_theme_dark div.scroll_tab_inner li.tab_selected,
.scroll_tabs_theme_dark div.scroll_tab_inner span.tab_selected {
    background-color: #666
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400
}

:focus {
    outline: 0
}

button::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=file]>input[type=button]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner {
    border: none
}

input[type=checkbox]:focus {
    -moz-outline-offset: -1px!important;
    -moz-outline: 1px solid #000!important
}


::-webkit-input-placeholder {
    color: #666
}

::-moz-placeholder {
    color: #666
}

:-ms-input-placeholder {
    color: #666
}

::-ms-input-placeholder {
    color: #666
}

::placeholder {
    color: #666
}

::-moz-selection {
    background-color: #2d1e15;
    color: #fff
}

::selection {
    background-color: #2d1e15;
    color: #fff
}

*,
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    min-width: 320px;
    /*position: relative;*/
    overflow-x: hidden;
    font-family: RobotoLight, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    /*letter-spacing: .01em;*/
    background-color: #fff;
    color: #2d1e15
}

body.is-modal {
    overflow: hidden
}

body input,
body textarea {
    border: #666 1px solid;
    outline: 0
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
    border-color: red
}

#page-wrap {
    overflow: hidden
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto
}

button {
    cursor: pointer
}

.img-bg {
    display: block;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat
}

.img-bg-square {
    width: 533px;
    height: 533px
}

.img-bg-wide {
    width: 100%;
    height: 533px
}

.btn_main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 304px;
    height: 43px;
    font-size: 18px;
    font-weight: 400;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #2d1e15;
    background-color: #fff;
    padding: 0;
    text-align: center;
    -webkit-transition: 250ms;
    -o-transition: 250ms;
    transition: 250ms
}

.btn_main:focus,
.btn_main:hover {
    background-color: #2d1e15;
    color: #fff
}

h1,
h2 {
    margin: .55em 0 .55em
}

h3 {
    /*font-size: 24px;
    font-size: 28px;
    line-height: 1.166667*/
}

.section-wide {
    padding: 70px 0 0
}

.section-wide .subtitle {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 1.3333em;
    font-weight: 300
}

.section-wide .img-bg-wide {
    margin-top: 60px
}

.section-wide .carousel-contact {
    margin-top: 80px
}

.section-chess {
    padding-top: 85px;
    overflow: hidden;
}

.section-chess__list li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 80px
}

.section-chess__list li:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.section-chess__list li:nth-child(even) .txt {
    margin-left: 84px
}

.section-chess__list li:nth-child(odd) .txt {
    margin-right: 84px;
    margin-left: 22px
}

.section-chess__list li:last-child {
    margin-bottom: 0
}

.section-chess__list .txt {
    padding-top: 30px
}

.section-chess__list .txt h3 {
    margin-bottom: 23px
}

.section-chess__list .img-bg {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 533px;
    -ms-flex: 0 0 533px;
    flex: 0 0 533px
}

.section-chess__list .descr {
    margin-bottom: 45px;
    line-height: 1.625;
    font-weight: 300
}

.section-tabs {
    overflow: hidden;
    padding-top: 40px;
}

.section-tabs__nav {
    display: block!important;
    max-width: 780px;
    width: auto;
    margin: 5px auto 0;
    text-transform: uppercase;
    color: #bda594;
    position: relative
}

.section-tabs__nav:after {
    content: '';
    display: block;
    margin-top: 5px;
    width: 1007px;
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -503px;
    height: 10px;
    background: #fff url(/upload/content/o-nas-new/header_shadow.png) center top no-repeat;
    -webkit-background-size: 100% 10px;
    background-size: 100% 10px;
    opacity: .35
}

.section-tabs__nav li {
    cursor: pointer;
    display: inline-block;
    padding: 0 20px;
    font-size: 16px
}

.section-tabs__nav li.active {
    color: #2d1e15
}

.section-tabs__nav .scroll_tab_inner {
    text-align: center;
    -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(3%, #000), color-stop(97%, #000), to(transparent));
    -webkit-mask-image: -webkit-linear-gradient(left, transparent 0, #000 3%, #000 97%, transparent 100%);
    mask-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(3%, #000), color-stop(97%, #000), to(transparent));
    mask-image: linear-gradient(to right, transparent 0, #000 3%, #000 97%, transparent 100%)
}

.section-tabs__nav .scroll_tab_left_button {
    left: 0!important
}

.section-tabs__nav .scroll_tab_right_button {
    right: 0!important
}

.section-tabs__nav .scroll_tab_left_button,
.section-tabs__nav .scroll_tab_right_button {
    font-size: 26px;
    top: -11px!important
}

.section-tabs__nav .scroll_arrow_disabled {
    display: none!important
}

.section-tabs__tabs {
    margin-top: 75px
}

.section-tabs__tabs-reverse li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.section-tabs__tabs-reverse .txt {
    margin-right: 0!important;
    margin-left: 80px
}

.section-tabs__tabs li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.section-tabs__tabs li .img-bg {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 526px;
    -ms-flex: 0 0 526px;
    flex: 0 0 526px;
    height: 526px
}

.section-tabs__tabs li .txt {
    margin-right: 80px;
    font-weight: 300
}

.section-tabs__tabs li h3 {
    margin-bottom: 23px;
    margin-top: 23px
}

.section-carousel-contact{
    padding: 75px 0 50px;
    overflow: hidden;
}
.section-carousel-contact .no-js .owl-carousel, 
.section-carousel-contact .owl-carousel.owl-loaded,
.section-carousel-contact .owl-carousel .owl-stage-outer,
.section-carousel-contact .owl-carousel .owl-stage
{
    height: auto !important;
}

.carousel-contact {
    width: 1518px;
    margin: 0 auto
}

.carousel__itm {
    width: 486px;
    height: 486px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto
}

.carousel-contact .owl-dots {
    text-align: center;
    margin-top: 65px
}

.carousel-contact .owl-dot {
    width: 15px;
    height: 15px;
    border: 1px solid #9b887c!important;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 0 10px;
    -webkit-transition: 250ms;
    -o-transition: 250ms;
    transition: 250ms
}

.carousel-contact .owl-dot.active {
    background-color: #9b887c
}

.agreement {
    width: 100%;
    text-align: center;
    font-size: 12px
}

.agreement input[type=checkbox] {
    position: absolute;
    opacity: 0;
    z-index: -1
}

.agreement input[type=checkbox]:checked+label:before {
    color: #2d1e15
}

.agreement label {
    cursor: pointer
}

.agreement label:before {
    content: '\2714';
    color: transparent;
    -webkit-transition: 250ms;
    -o-transition: 250ms;
    transition: 250ms;
    line-height: 5px;
    font-size: 18px;
    border: 1px solid #2d1e15;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 5px
}

.wow {
    visibility: hidden
}

.slideLeft-animation {
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s
}

.slideLeft-animation.animated {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1
}

.slideRight-animation {
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s
}

.slideRight-animation.animated {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1
}

.about {
	padding: 0; /*padding: 70px 0 0;*/
    font-weight: 300
}

.about .btn_main {
    margin-top: 45px
}

.contacts {
    padding: 87px 0 25px
}

.contacts .subtitle {
    text-align: center;
    max-width: 925px;
    margin: 0 auto;
    margin-bottom: 50px
}

.contacts__itm {
    position: relative;
    text-align: center
}

.contacts__itm:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1px;
    top: 15px;
    bottom: -10px;
    background-color: #2d1e15
}

.contacts__itm:last-child:after {
    display: none
}

.contacts__itm h3 {
    font-size: 29.5px;
    margin: 14px 0 9px
}

.callback {
    padding-top: 70px;
    padding-bottom:  111px;
	margin: 0;
	border: 0;
	opacity: 1;
	color: #000;
}

.callback h2:before {
    display: none
}

.callback__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px
}

.callback__input {
    width: 265px;
    border-bottom: 1px solid #2d1e15;
    position: relative;
    padding-bottom: 5px
}

.callback__input.hasData label {
    top: -20px
}

.callback__input label {
    position: absolute;
    left: 10px;
    top: 4px;
    -webkit-transition: 250ms;
    -o-transition: 250ms;
    transition: 250ms;
    font-size: 12px
}

.callback__input input {
    width: 100%;
    border: none;
    padding: 0 10px
}

.callback__input input:focus+label {
    top: -20px
}

.callback .agreement {
    margin-top: 40px
}

.callback button[type=submit] {
    margin-top: 28px
}

@media (max-width:1599px) {
    .carousel-contact {
        width: 1200px
    }
    .carousel__itm {
        width: 390px;
        height: 390px
    }
}

@media (max-width:1199.98px) {
    .img-bg-square {
        width: 480px;
        height: 480px
    }
    .img-bg-wide {
        height: 400px
    }
    .section-chess__list .img-bg {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%
    }
    .section-chess__list li:nth-child(even) .txt {
        margin-left: 50px
    }
    .section-chess__list li:nth-child(odd) .txt {
        margin-right: 50px
    }
    .carousel-contact{
        width: 992px
    }
    .carousel__itm {
        width: 320px;
        height: 320px
    }
    .carousel-contact .owl-dots {
        margin-top: 35px
    }
    .section-tabs__tabs li .img-bg{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        height: 465px;
    }
    .section-tabs__tabs li .txt{
        margin-right: 50px;
    }
}

@media (max-width:991.98px) {
    h1,
    h2 {
        font-size: 32px
    }
    h3 {
        font-size: 22px
    }
    .about {
        padding-top: 35px
    }
    .about h1 {
        text-align: center
    }
    .about .img-bg {
        margin-top: 35px
    }
    .section-wide .subtitle {
        font-size: 18px
    }
    .img-bg-square {
        width: 533px;
        height: 533px
    }
    .section-chess__list .img-bg {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 533px;
        -ms-flex: 0 0 533px;
        flex: 0 0 533px
    }
    .img-bg-wide {
        height: 280px
    }
    .section-chess__list li {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .section-chess__list li:nth-child(odd) .txt {
        margin-left: 0;
        margin-right: 0
    }
    .section-chess__list li:nth-child(even) .txt {
        margin-left: 0
    }
    .section-chess__list .txt img {
        margin-left: auto;
        margin-right: auto
    }
    .carousel-contact{
        width: 768px
    }
    .carousel__itm{
        width: 375px;
        height: 375px
    }
    .section-tabs__tabs li {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .section-tabs__tabs li .txt {
        margin-right: 0!important;
        margin-left: 0;
        margin-bottom: 15px
    }
    .section-tabs{
        padding-top: 30px;
    }
    .contacts__itm h3 {
        font-size: 24px
    }
    .callback__input {
        margin-bottom: 30px
    }
    .callback .agreement {
        margin-top: 10px
    }
}

@media (max-width:767.98px) {
    .btn_main {
        width: 290px
    }
    h1,
    h2 {
        font-size: 28px
    }
    .about {
        padding-top: 10px
    }
    .img-bg-square {
        width: 100%;
        height: -webkit-calc(100vw - 30px);
        height: calc(100vw - 30px)
    }
    .section-tabs__tabs li .img-bg {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        height: -webkit-calc(100vw - 30px);
        height: calc(100vw - 30px)
    }
    .section-tabs__nav:after{
        display: none;
    }
    h2:before {
        width: 75px
    }
    .img-bg-wide {
        height: 180px
    }
    .section-wide{
        padding-top: 20px;
    }
    .section-chess__list .img-bg {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%
    }
    .section-chess__list .txt h3,
    .section-tabs__tabs li h3{
        text-align: center;
    }
    .section-chess__list li {
        margin-bottom: 35px
    }
    .carousel-contact .owl-dot {
        margin: 0 5px;
        width: 12px;
        height: 12px
    }
    .carousel-contact .owl-dots {
        margin-top: 15px
    }
    .contacts__itm {
        margin-bottom: 35px
    }
    .contacts__itm svg {
        height: 40px
    }
    .callback {
        padding-top: 35px
    }
    .callback__input {
        width: 290px
    }
    .section-tabs__nav .scroll_tab_left_button {
        left: -10px!important
    }
    .section-tabs__nav .scroll_tab_right_button {
        right: -10px!important
    }
    .section-tabs__nav .scroll_tab_inner {
        left: 15px!important;
        right: 15px!important
    }
    .section-tabs__nav li {
        font-size: 14px;
        padding: 0 15px
    }
    .section-tabs__nav {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        text-align: center;
    }
    .section-tabs__nav li {
        margin-bottom: 15px
    }
    .section-tabs__nav li:first-child {
        padding-left: 0
    }
    .section-tabs__nav li:last-child {
        padding-right: 0
    }
    .section-tabs__tabs {
        margin-top: 25px
    }
    .carousel-contact{
       width: 350px
    }
    .carousel-contact .owl-stage-outer{
        overflow: visible
    }
    .carousel__itm{
        width: 345px;
        height: 345px
    }
    .slideLeft-animation {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0)
    }
    .section-chess__list .txt {
        padding-top: 10px
    }
    .contacts__itm:after{
        display: none;
    }
}
@media (max-width: 359px){
    .carousel-contact{
        width: 300px
    }
    .carousel__itm{
        width: 290px;
        height: 290px
    }
}